<!DOCTYPE html>
<html>
<head>
  <title>Dagens Undskyldning</title>
  <style>
    html, body {
      font-family: sans-serif;
      background: #f0f0f0;
      margin: 4em;
    }

    .main {
      background: white;
      border: solid 1px #c0c0c0;
      border-radius: 8px;
      padding: 2em;
    }
  </style>
</head>
<body>

  <section class="main">
    <h1>
      {% if excuse %}
        Jeg kan ikke komme på arbejde fordi, {{ excuse }}!
      {% else %}
        Siden virker ikke, fordi den ikke fungerer.
      {% endif %}
    </h1>
  </section>

</body>
</html>
